@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 98%;
		--foreground: 240 10% 5%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 5%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 5%;
		--primary: 28 100% 50%;
		--primary-foreground: 0 0% 100%;
		--secondary: 240 20% 88%;
		--secondary-foreground: 240 10% 10%;
		--muted: 240 20% 88%;
		--muted-foreground: 240 10% 30%;
		--accent: 32 100% 85%;
		--accent-foreground: 240 10% 15%;
		--destructive: 0 80% 50%;
		--destructive-foreground: 0 0% 100%;
		--border: 240 20% 80%;
		--input: 240 20% 80%;
		--ring: 28 100% 50%;
		--radius: 0.75rem;
		--chart-1: 28 100% 54%;
		--chart-2: 210 80% 60%;
		--chart-3: 155 60% 40%;
		--chart-4: 280 70% 60%;
		--chart-5: 0 90% 60%;
	}

	.dark {
		--background: 240 10% 5%;
		--foreground: 0 0% 100%;
		--card: 240 15% 10%;
		--card-foreground: 0 0% 100%;
		--popover: 240 15% 10%;
		--popover-foreground: 0 0% 100%;
		--primary: 28 100% 60%;
		--primary-foreground: 0 0% 0%;
		--secondary: 240 10% 20%;
		--secondary-foreground: 0 0% 100%;
		--muted: 240 10% 20%;
		--muted-foreground: 240 10% 70%;
		--accent: 28 100% 40%;
		--accent-foreground: 0 0% 100%;
		--destructive: 0 70% 40%;
		--destructive-foreground: 0 0% 100%;
		--border: 240 10% 25%;
		--input: 240 10% 25%;
		--ring: 28 100% 60%;
		--chart-1: 28 100% 60%;
		--chart-2: 210 80% 70%;
		--chart-3: 155 60% 50%;
		--chart-4: 280 70% 70%;
		--chart-5: 0 90% 70%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}
